<div class="row">

  <div class="col-12">

    <h3 class="my-3">Milestones</h3>

    <p class="lh-1">
      <%= link_to fa_icon("plus", text: "New"),
                  new_milestone_path,
                  class: "btn btn-sm btn-dark" %>
    </p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="nw">Label</th>
            <th class="text-center nw w-1">Date</th>
            <th class="nw">Notes</th>
            <th class="text-center nw w-1">Options</th>
          </tr>
        </thead>
        <tbody>
          <% @milestones.each do |milestone| %>
            <tr class="<%= milestone.milestone_date.nil? ? "" : "table-success" %>" id="milestone-<%= milestone.id %>">
              <td class="nw"><%= milestone.label %></td>
              <td class="text-center nw">
                <%= milestone.milestone_date.nil? ? "&nbsp;".html_safe : milestone.milestone_date.strftime("%m/%d/%y") %>
              </td>
              <td class="new-br"><%= milestone.notes %></td>
              <td class="text-center nw">
                <div class="btn-group btn-group-sm" role="group">
                  <%= link_to fa_icon("pencil"), edit_milestone_path(milestone), class: "btn btn-dark" %>
                  <%= link_to fa_icon("times"), milestone, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this milestone?" } %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

</div>