<div class="card mb-3 mt-md-3">
  <div class="card-header bg-dark text-warning font-weight-bold">
    <%= fa_icon "table", text: "Statistics" %>
  </div>
  <ul class="list-group list-group-flush small">
    <% if @entries.count == 0 %>
      <li class="list-group-item text-muted font-italic small">
        Stats will be available once entries are made.
      </li>
    <% end %>
    <% unless @first_entry.nil? %>
      <li class="list-group-item">
        Started Tracking: <strong><%= @first_entry.entry_date.strftime "%m/%d/%y" %></strong><br>
        Total Days Tracked: <strong><%= number_with_delimiter(@entries.count) %></strong><br>
        Tracking Rate: <strong><%= @tracking_rate.to_i %>%</strong><br>
      </li>
    <% end %>
    <% unless @entries.count == 0 %>
      <li class="list-group-item">
        Total Flags: <strong><%= number_with_delimiter(@total_flags) %> / <%= number_with_delimiter(@flags_possible) %></strong><br>
        Flag Rate: <strong><%= @flag_rate.to_i %>%</strong><br>
        Perfect Days: <strong><%= number_with_delimiter(@perfect_flag_days) %></strong><br>
        Perfect Day Rate: <strong><%= @perfect_flag_rate.to_i %>%</strong>
      </li>
    <% end %>
    <% unless @total_weight_change.nil? %>
      <li class="list-group-item">
        Weight Loss: <strong class="<%= prefer_negative_class(@total_weight_change) %>"><%= number_with_precision(@total_weight_change, precision: 1) %># (<%= number_with_precision(@percentage_change, precision: 1) %>%)</strong><br>
        Loss Rate: <strong class="<%= prefer_negative_class(@weight_change_rate) %>"><%= number_with_precision(@weight_change_rate, precision: 1) %>#/week</strong><br>
        BMI Loss: <strong class="<%= prefer_negative_class(@total_bmi_change) %>"><%= number_with_precision(@total_bmi_change, precision: 1) %></strong>
      </li>
    <% end %>
    <% unless @total_body_fat_change.nil? %>
      <li class="list-group-item">
        Body Fat Loss: <strong class="<%= prefer_negative_class(@total_body_fat_change) %>"><%= number_with_precision(@total_body_fat_change, precision: 1) %>%</strong><br>
        Lean Mass: <strong><%= number_with_precision(@lean_mass, precision: 1) %>#</strong><br>
        Ideal Weight (16% BF): <strong><%= number_with_precision(@lean_mass / 0.84, precision: 1) %>#</strong><br>
        Ideal Weight (18% BF): <strong><%= number_with_precision(@lean_mass / 0.82, precision: 1) %>#</strong><br>
        Ideal Weight (20% BF): <strong><%= number_with_precision(@lean_mass / 0.8, precision: 1) %>#</strong>
      </li>
    <% end %>
    <% unless @calf_change.nil? || [@calf_change, @thigh_change, @waist_change, @stomach_change, @chest_change, @arm_change, @neck_change].all? {|c| c== 0} %>
      <li class="list-group-item">
        Measurement Changes
        <ul>
          <li>Calf: <strong class="<%= prefer_negative_class(@calf_change) %>"><%= number_with_precision(@calf_change, precision: 1) %>&Prime;</strong></li>
          <li>Thigh: <strong class="<%= prefer_negative_class(@thigh_change) %>"><%= number_with_precision(@thigh_change, precision: 1) %>&Prime;</strong></li>
          <li>Waist: <strong class="<%= prefer_negative_class(@waist_change) %>"><%= number_with_precision(@waist_change, precision: 1) %>&Prime;</strong></li>
          <li>Stomach: <strong class="<%= prefer_negative_class(@stomach_change) %>"><%= number_with_precision(@stomach_change, precision: 1) %>&Prime;</strong></li>
          <li>Chest: <strong class="<%= prefer_negative_class(@chest_change) %>"><%= number_with_precision(@chest_change, precision: 1) %>&Prime;</strong></li>
          <li>Arm: <strong class="<%= prefer_negative_class(@arm_change) %>"><%= number_with_precision(@arm_change, precision: 1) %>&Prime;</strong></li>
          <li>Neck: <strong class="<%= prefer_negative_class(@neck_change) %>"><%= number_with_precision(@neck_change, precision: 1) %>&Prime;</strong></li>
        </ul>
      </li>
    <% end %>
    <% unless @max_total_calories.nil? && @max_active_calories.nil? && @max_steps.nil? %>
      <li class="list-group-item">
        Records
        <ul>
          <% unless @max_total_calories.nil? %><li>Total Calories:<br><a href="#entry-<%= @max_total_calories.id %>" class="font-weight-bold"><%= number_with_delimiter(@max_total_calories.total_calories_burned) %> (<%= @max_total_calories.entry_date.strftime "%m/%d/%y" %>)</a></li><% end %>
          <% unless @max_active_calories.nil? %><li>Active Calories:<br><a href="#entry-<%= @max_active_calories.id %>" class="font-weight-bold"><%= number_with_delimiter(@max_active_calories.active_calories_burned) %> (<%= @max_active_calories.entry_date.strftime "%m/%d/%y" %>)</a></li><% end %>
          <% unless @max_steps.nil? %><li>Steps:<br><a href="#entry-<%= @max_steps.id %>" class="font-weight-bold"><%= number_with_delimiter(@max_steps.steps) %> (<%= @max_steps.entry_date.strftime "%m/%d/%y" %>)</a></li><% end %>
        </ul>
      </li>
    <% end %>
  </ul>
</div>