<div class="row">

  <div class="col-12 col-md-10">

    <h3 class="my-3">Daily Log</h3>

    <p class="lh-1">
      <%= link_to fa_icon("plus", text: "New"),
                  new_entry_path,
                  class: "btn btn-sm btn-dark" %>
    </p>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <thead class="thead-dark">
          <tr>
            <th class="text-center nw w-1">Date</th>
            <th class="text-center nw w-1">Daily Flags</th>
            <th class="text-center nw w-1 lh-1">Calories<br><small class="text-muted">Consumed / Burned / Active</small></th>
            <th class="text-center nw w-1">Weight</th>
            <th class="text-center nw w-1">BMI</th>
            <th class="text-center nw w-1">Body Fat</th>
            <th class="text-center nw w-1">Steps</th>
            <th class="text-center nw w-1 lh-1">Measurements<br><small class="text-muted">Calf / Thigh / Waist / Stomach / Chest / Arm / Neck</small></th>
            <th>Notes</th>
            <th class="text-center nw w-1">Options</th>
          </tr>
        </thead>
        <tbody>
          <% @entries.each do |entry| %>
            <tr class="<%= entry.entry_date == Date.today ? "table-warning" : nil %>" id="entry-<%= entry.id %>">
              <td class="text-center nw">
                <%= entry.entry_date.strftime "%m/%d/%y" %>
                <br>
                <small class="text-uncolor">(<%= entry.entry_date.strftime "%a" %>)</small>
              </td>
              <td class="text-center nw">
                <%= daily_flag_icons  entry.tracked_food,
                                      entry.stayed_under_calorie_goal,
                                      entry.closed_move_ring,
                                      entry.closed_exercise_ring,
                                      entry.closed_stand_ring,
                                      entry.performed_workout,
                                      entry.met_sleep_goal %>
                <br>
                <%= grade_bar(entry) %>
              </td>
              <td class="text-center nw">
                <% if entry.calories_entered? %>
                  <%= sep_list  number_with_delimiter(entry.total_calories_consumed),
                                number_with_delimiter(entry.total_calories_burned),
                                number_with_delimiter(entry.active_calories_burned) %>
                <% else %>
                  &nbsp;
                <% end %>
              </td>
              <td class="text-center nw">
                <% if entry.weight.nil? %>
                  &nbsp;
                <% else %>
                  <%= number_with_precision(entry.weight, precision: 1) %>#
                  <%= weight_change(entry) %>
                <% end %>
              </td>
              <td class="text-center nw">
                <% if entry.weight.nil? %>
                  &nbsp;
                <% else %>
                  <span class="<%= bmi_class(entry.bmi) %>">
                    <%= number_with_precision(entry.bmi, precision: 1) %>
                    <%= bmi_icon(entry.bmi).html_safe %>
                  </span>
                  <%= bmi_change(entry) %>
                <% end %>
              </td>
              <td class="text-center nw">
                <% if entry.body_fat.nil? %>
                  &nbsp;
                <% else %>
                  <%= number_with_precision(entry.body_fat, precision: 1) %>%
                  <%= body_fat_change(entry) %>
                <% end %>
              </td>
              <td class="text-center nw"><%= entry.steps.nil? ? "&nbsp;".html_safe : number_with_delimiter(entry.steps) %></td>
              <td class="text-center nw">
                <% if entry.measurements_entered? %>
                  <%= sep_list  "#{number_with_precision(entry.calf_measurement, precision: 1)}&Prime;",
                                "#{number_with_precision(entry.thigh_measurement, precision: 1)}&Prime;",
                                "#{number_with_precision(entry.waist_measurement, precision: 1)}&Prime;",
                                "#{number_with_precision(entry.stomach_measurement, precision: 1)}&Prime;",
                                "#{number_with_precision(entry.chest_measurement, precision: 1)}&Prime;",
                                "#{number_with_precision(entry.arm_measurement, precision: 1)}&Prime;",
                                "#{number_with_precision(entry.neck_measurement, precision: 1)}&Prime;" %>
                  <%= measurement_change(entry) %>
                <% else %>
                  &nbsp;
                <% end %>
              </td>
              <td class="new-br"><%= entry.notes.nil? ? "&nbsp;".html_safe : entry.notes.html_safe %></td>
              <td class="nw">
                <div class="btn-group btn-group-sm" role="group">
                  <%= link_to fa_icon("pencil"), edit_entry_path(entry), class: "btn btn-dark" %>
                  <%= link_to fa_icon("times"), entry, method: :delete, class: "btn btn-danger", data: { confirm: "Are you sure you want to delete this entry?" } %>
                </div>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>

  <div class="col-12 col-md-2">
    <%= render partial: "stats" %>
  </div>

</div>