<p id="notice"><%= notice %></p>

<p>
  <strong>Entry on:</strong>
  <%= @entry.entry_on %>
</p>

<p>
  <strong>Closed ring:</strong>
  <%= @entry.closed_move_ring %>
</p>

<p>
  <strong>Steps:</strong>
  <%= @entry.steps %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @entry.weight %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @entry.notes %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
